[webservers]
%{for ws in webservers~}
${ws["name"]}		ansible_host=${ws["ip"]}		fqdn=${ws["fqdn"]}
%{endfor~}

[databases]
%{for dbs in dbservers~}
${dbs["name"]}		ansible_host=${dbs["ip"]}		fqdn=${dbs["fqdn"]}
%{endfor~}

[storage]
%{for st in storages~}
${st["name"]}		ansible_host=${st["ip"]}		fqdn=${st["fqdn"]}
%{endfor~}