server {
    listen {{ lighthouse_http_port }};
    server_name  {{ lighthouse.hosts.lighthouse-01.host }};

    location / {
        root {{ lighthouse_path }};
        index index.html;
        try_files $uri $uri/ /index.html =404;
    }
}